h2 {
    text-align: center;
    font-weight: 400;
}

div {
    text-align: center;
    font-size: 15px;
    color: rgb(169, 190, 194);
}

a {
    text-decoration: none;
}

.ser {
    color: rgb(169, 190, 194);
}

.psr {
    text-align: center;
}

p {
    /* text-align: center; */
    line-height: 25px;
    text-indent: 2em;
}